*.xls
*.txt
*.sas
data/PNS2013/Chaveamento PNS 2013.doc
*.doc
*.pdf
data/PNS2013/06_xls.html
*.zip
data/PNS2013/Thumbs.db
*.html
*.Rds
data/PNAD2008/dicPNAD2008.RData
*.rtf
plots/fig2.png
*.csv
data/pns13.18y.design.rda
*.rda
plots/fig1.png
plots/fig22.png
*.Rhistory
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/IBGEtabula.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/latex/waitbar.tex
*.tex
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/CONTENTS
data/PNAD_reponderado_2008/2008/Leitura em R/dicPNAD2008.RData
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/IBGEtabula
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/MD5
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/le.pesquisa.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R/IBGEPesq
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/waitbar.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/man/IBGEPesq.Rd.gz
*.blocos
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/media.pond
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/IBGEPesq-internal
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/AnIndex
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/DESCRIPTION
*.pesquisa
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/INDEX
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/dicPNAD2005.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/merge.blocos.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/dicPNAD2006supl
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/dicPME
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/IBGEPesq-package
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/data/filelist
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/ocupacao2005
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/dicPME.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/dicPNAD2006supl.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/R-ex/media.pond.R
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/waitbar
data/PNAD_reponderado_2008/2008/Leitura em R/IBGEPesq_1.0-2/IBGEPesq/help/dicPNAD2005
*.xlsx
*.db
*.xls#